*
!.gitignore

# Project script for project management. using my ~/projects/projects.json file
!project/
!project/*

# Torn script for interacting with the Torn city API
!torn/
!torn/*

# 2do script for task management
!2do/
!2do/*

# Better-cat script for enhanced cat command
!better_cat/
!better_cat/*